# -*- mode: gitignore; -*-
.DS_Store
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.org-id-locations
*_archive
*_flymake.*
/elpa/
/eshell/
helm-adaptive-history
session*
ac-comphist.dat
projectile-bookmarks.eld
recentf
saved-places
request
ido.last
smex-items
/games/
/var
/url
*.log
/.python-environments
