.DS_Store
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# python
elpy

# misc
helm-adaptive-history
session*
ac-comphist.dat
projectile-bookmarks.eld
recentf
saved-places
request
ido.last
smex-items
/games/
/var
/url
*.log
/.python-environments
/persp-confs
bookmarks
transient
elpa
*__pycache__
.lsp-*
/*.sqlite
/*.cache
network-security.data
.vscode
eln-cache
undo
custom.el
