.DS_Store
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# Flycheck
flycheck_*.el

# server auth directory
/server/

# misc
projectile-bookmarks.eld
projects
recentf
saved-places
request
/games/
/var
/url
*.log
bookmarks
transient
elpa
*__pycache__
/*.sqlite
/*.cache
network-security.data
.vscode
eln-cache
undo
custom.el
/tree-sitter/
/terminal/tree-sitter/
